.banner-container {
  border: 4px solid green;
  position: relative;
  width: 100%;
  height: 600px;
  /* for testing the scroll bar and nav bar */
  /* height: 1000px; */
  /* background-color: green; */
}

.banner-text-container {
  border: 2px solid #000;
  position: absolute;
  width: 100%;
  padding: 20px;
  bottom: 70px;
}