:root {
  --black-border: black;
}

ul {
  list-style-type: none;
}

/*I will change this later  */
a {
  text-decoration: none;
  color: var(--black-border);
}

header {
  /* border: 1px solid var(--black-border); */
  z-index: 1000;
  position: relative;
  width: 100%;
  height: 86px;
  /* margin: 0 0 10px 0; */
}


nav {
  border: 1px solid var(--black-border);
  position: fixed;
  background-color: aliceblue;
  grid-template-columns: 1fr 1fr 0.7fr;
  width: 100%;
  height: inherit;
  display: grid;
  grid-template-areas:
    "logo    navbar    .";
  align-items: center;
}


.logo-container {
  grid-area: logo;
}

ul {
  grid-area: navbar;
}

.logo-container {
  /* border: 1px solid red; */
  height: 100%;
  padding-left: 30px;
}

.logo {
  /* border: 1px solid var(--black-border); */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.image-logo {
  width: 100%;
  height: 80px;
  object-fit: cover;
  display: block;
}

ul {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.logo-container a {
  display: flex;
}

li a {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}